{% load i18n %}
{% load compress %}
{% load static %}
{% load hk_generic %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="ROBOTS" content="INDEX, FOLLOW" />
        <title>{% block head_title %}{{ site_name }}{% endblock %}</title>
        <meta name="author" content="" />
        <meta name="dc.language" content="en" />
        <link rel="shortcut icon" href="{% static 'hyperkitty/img/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'hyperkitty/libs/jquery/smoothness/jquery-ui-1.10.3.custom.min.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'hyperkitty/libs/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css" media="all" />
        {% compress css %}
        <link rel="stylesheet" href="{% static 'hyperkitty/libs/fonts/icomoon/icomoon.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'hyperkitty/libs/fonts/droid/droid.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'django-mailman3/css/main.css' %}" />
        <link rel="stylesheet" type="text/x-scss" media="all" href="{% static 'hyperkitty/sass/hyperkitty.scss' %}" />
        {% endcompress %}
        {% block additional_stylesheets %} {% endblock %}
        {% include 'hyperkitty/headers.html' %}
    </head>

    <body>

    {% include 'hyperkitty/top.html' %}

    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <div class="navbar-header"> <!--part of navbar that's always present-->
                {% include 'hyperkitty/navbar-brand.html' %}
            </div> <!-- /navbar-header -->
            <form name="search" method="get" action="{% url 'hk_search' %}" class="navbar-form navbar-right" role="search">
                {% if mlist %}<input type="hidden" name="mlist" value="{{ mlist.name }}" />{% endif %}
                <div class="input-group">
                    <input name="q" type="text" class="form-control mr-sm-2"
                           placeholder="{% if mlist %}{% trans 'Search this list' %}{% else %}{% trans 'Search all lists' %}{% endif %}"
                           {% if query %}value="{{ query }}"{% endif %}
                           />
                    <span class="input-group-btn">
                        <button class="btn btn-secondary my-2 my-sm-0 " type="submit"><span class="fa fa-search"></span></button>
                    </span>
                </div>
            </form>
        </div> <!-- /container for navbar -->
    </nav>

    {% if messages %}
    <div class="flashmsgs">
    {% for msg in messages %}
        <div class="flashmsg-wrapper">
            <!--<div class="alert alert-{{ msg.level_tag }}">-->
            <div role="alert" class="alert alert-{{ msg.tags }} {{msg.tags}}
                {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                ">
                {% else %}
                alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% endif %}
                {{ msg }}
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}

     <div class="modal fade" tabindex="-1" role="dialog" id="keyboard-shortcuts">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title">{% trans "Keyboard Shortcuts" %}</h4>
           </div>
           <div class="modal-body">
             <h3>{% trans "Thread View" %}</h3>
             <ul>
               <li><code>j</code>: {% trans "Next unread message" %} </li>
               <li><code>k</code>: {% trans "Previous unread message" %} </li>
               <li><code>j a</code>: {% trans "Jump to all threads" %}
               <li><code>j l</code>: {% trans "Jump to MailingList overview" %}
             </ul>
           </div>
         </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->

     <div class="container">
        {% block content %} {% endblock %}
    </div> <!-- /container for content -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
            Powered by <a href="https://github.com/michael-lazar/hyperkitty">HyperKitty</a>.
        </p>
      </div>
    </footer>

    <script src="{% static 'hyperkitty/libs/jquery/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'hyperkitty/libs/jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'hyperkitty/libs/popper/popper.min.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/libs/bootstrap/javascripts/bootstrap.min.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/libs/mousetrap/mousetrap.min.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/libs/jquery.expander.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/libs/d3.v2.min.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/libs/jquery.hotkeys.js' %}" />
    <script type="text/javascript" src="{% static 'django-mailman3/js/main.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-common.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-index.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-overview.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-thread.js' %}" />
    <script type="text/javascript" src="{% static 'hyperkitty/js/hyperkitty-userprofile.js' %}" />
    {% endcompress %}
    {% block additionaljs %} {% endblock %}

    {% include 'hyperkitty/bottom.html' %}

    </body>
</html>
