{% extends "hyperkitty/base.html" %}
{% load i18n %}
{% load hk_generic %}
{% load pagination %}
{% load static %}


{% block head_title %}
{% trans 'Available lists' %} - {{ block.super }}
{% endblock %}

{% block content %}

<div class="all-lists">

<div class="row lists">
    <div class="col-sm-12">
        {% if all_lists %}
        <table class="lists table">
            <!-- headings only shown in screens >= 480px -->
            <thead class="d-xs-none">
                <tr>
                    <th class="col-sm-6 col-md-3 col-lg-3">{% trans 'List' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for mlist in all_lists %}
                <tr class="list
                   {% if mlist.is_private %}
                   private
                   {% elif mlist.recent_threads_count == 0 %}
                   inactive
                   {% endif %}
                   "
                   data-list-name="{{ mlist.name }}">
                    <!-- tiny/xsmall screens have 1 column, small screens have 2 columns, med/large screen have 3 columns -->
                    <td>
                        {% ifchanged mlist.name|first %}<a name="{{ mlist.name|first }}" />{% endifchanged %}
                        {% if mlist.is_new %}
                        <span class="new badge badge-secondary">{% trans 'new' %}</span>
                        {% endif %}
                         <a href="{% url 'hk_list_overview' mlist_fqdn=mlist.name %}"
                            class="list-name">
                             {% if mlist.display_name %}
                                 {{ mlist.display_name }}
                             {% else %}
                                 {{ mlist.name|until:"@" }}
                             {% endif %}
                         </a>
                        {% if mlist.is_private %}
                        <span class="list-tags">{% trans "private" %}</span>
                        {% elif mlist.recent_threads_count == 0 %}
                        <span class="list-tags">{% trans "inactive" %}</span>
                        {% endif %}
                        <br />
                        <span class="list-address">
                            {{ mlist.name }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table> <!-- /table, main-content -->
        {% else %}
        <p>{% trans "No archived list yet." %}</p>
        {% endif %}

    </div> <!-- /container for table -->

</div> <!-- /row, for lists -->
</div> <!-- /all-lists, outer-wrapper -->

{% endblock %}

{% block additionaljs %}

<script>
    $(function() {
        setup_index("{% url 'hk_list_recent_activity' 'PLACEHOLDER@PLACEHOLDER' %}");
    });
</script>

{% endblock %}
