{% extends "hyperkitty/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load compress %}
{% load staticfiles %}
{% load account %}
{% load socialaccount %}


{% block title %}
{% trans 'Login' %} - {{ block.super }}
{% endblock %}

{% block content %}

<div id="login">


<ul class="social-login list-unstyled">
    <!-- Backends from allauth -->
    {% get_providers as socialaccount_providers %}
    {% for backend in socialaccount_providers %}
        <li><a href="{% provider_login_url backend.id %}">{{ backend.name }}</a></li>
    {% endfor %}
</ul>


<h2>{% trans "Login with username and password" %}</h2>

<form action="{{ request.path }}?next={{ next|urlencode }}"
      method="post" class="form-horizontal">
    {% crispy form %}
</form>


</div>

{% endblock %}
