{% extends "hyperkitty/base.html" %}

{% load i18n %}
{% load hk_generic %}
{% load static %}


{% block head_title %}
{{ mlist.display_name|default:mlist.name }} - {{ block.super }}
{% endblock %}


{% block content %}

<div class="row">

<div class="overview col-tn-12 col-sm-12">
    <div class="row">

    <div class="discussions col-12">

        <section id="title">
            <h2>{{ mlist.name }}</h2>
        </section>

      <ul class="nav nav-pills" role="tablist">

        <li class="nav-item">
          <a href="#most-recent" aria-controls="most-recent" role="tab" data-toggle="pill" class="nav-link active" aria-selected="true">Recent</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#most-active" aria-controls="most-active" role="tab" data-toggle="pill" aria-selected="false">Most Active</a>
        </li>

      </ul>

    </div>

    <div class="tab-content discussions pull-right col-12">
        <div id="most-recent" role="tabpanel" class="tab-pane active">
            <h3>{% trans "Recently active discussions" %}</h3>
            <div data-load-from="{% url 'hk_list_overview_recent_threads' mlist.name %}">
                <img alt="{% trans 'Loading...' %}" class="ajaxloader" src="{% static 'hyperkitty/img/ajax-loader.gif' %}" />
            </div>
        </div>

        <div id="most-popular" role="tabpanel" class="tab-pane">
            <h3>{% trans "Most popular discussions" %}</h3>
            <div data-load-from="{% url 'hk_list_overview_pop_threads' mlist.name %}">
                <img alt="{% trans 'Loading...' %}" class="ajaxloader" src="{% static 'hyperkitty/img/ajax-loader.gif' %}" />
            </div>
        </div>

        <div id="most-active" role="tabpanel" class="tab-pane">
            <h3>{% trans "Most active discussions" %}</h3>
            <div data-load-from="{% url 'hk_list_overview_top_threads' mlist.name %}">
                <img alt="{% trans 'Loading...' %}" class="ajaxloader" src="{% static 'hyperkitty/img/ajax-loader.gif' %}" />
            </div>
        </div>
        {% if user.is_authenticated %}
        <div id="flagged" role="tabpanel" class="tab-pane">
            <h3>{% trans "Discussions You've Flagged" %} ({{ flagged_threads|length }})
                {% if flagged_threads %}<i class="fa fa-caret-right"></i>{% endif %}
            </h3>
            <div data-load-from="{% url 'hk_list_overview_favorites' mlist.name %}">
                <img alt="{% trans 'Loading...' %}" class="ajaxloader" src="{% static 'hyperkitty/img/ajax-loader.gif' %}" />
            </div>
        </div>
        <div id="posted-to" role="tabpanel" class="tab-pane">
            <h3>{% trans "Discussions You've Posted to" %} ({{ threads_posted_to|length }})
                {% if threads_posted_to %}<i class="fa fa-caret-right"></i>{% endif %}
            </h3>
            <div data-load-from="{% url 'hk_list_overview_posted_to' mlist.name %}">
                <img alt="{% trans 'Loading...' %}" class="ajaxloader" src="{% static 'hyperkitty/img/ajax-loader.gif' %}" />
            </div>
        </div>
        {% endif %}
    </div> <!-- /container, for thread lists -->

    </div> <!-- /row, container for home, overview, & thread lists -->
</div>
    <a href="#" class="back-to-top d-none"><span class="glyphicon glyphicon-arrow-up"></span></a>

</div> <!-- /overview, main content -->

</div> <!-- /row, outer container -->

{% endblock %}

{% block additionaljs %}

<script type="text/javascript" >
    $(document).ready(function() {
        setup_overview("{% url 'hk_list_recent_activity' mlist.name %}");
    });
</script>

{% endblock %}
