{% load i18n %}
{% load hk_generic %}

<div class="paginator">
<ul class="pagination">
    {% if pager.has_previous %}
    <li>
        <a href="?{% add_to_query_string page_key|default:'page' pager.previous_page_number %}">
    {% else %}
    <li class="disabled">
        <a href="#">
    {% endif %}
        &larr; {% if notbydate %}{% trans "Previous" %}{% else %}{% trans "Newer" %}{% endif %}
        </a>
    </li>

    {% for pagenum in pager.page_range %}
        <li{% if pagenum == pager.number %} class="active"{% endif %}>
            {% if pagenum == "..." %}
            <a href="#" class="disabled">...</a>
            {% else %}
            <a href="?{% add_to_query_string page_key|default:'page' pagenum %}">{{ pagenum }}</a>
            {% endif %}
        </li>
    {% endfor %}

    {% if pager.has_next %}
    <li>
        <a href="?{% add_to_query_string page_key|default:'page' pager.next_page_number %}">
    {% else %}
    <li class="disabled">
        <a href="#">
    {% endif %}
        {% if notbydate %}{% trans "Next" %}{% else %}{% trans "Older" %}{% endif %} &rarr;</a>
    </li>
</ul>
</div>
{% if page_jump %}
<div class="paginator">
<form action="{{ request.path }}" method="get" class="form-inline">
    <input type="hidden" name="page" value="{{ pager.number }}" />
    {% trans 'Results per page:' %}</span>
    <select name="count" class="form-control input-sm">
        {% for count in paginator_per_page_options %}
            <option value="{{ count }}"
                {% if pager.paginator.per_page == count %}
                selected="selected"
                {% endif %}
                >{{ count }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" class="btn btn-sm" value="Go" />
</form>
</div>
{% endif %}
