{% load i18n %}
{% load hk_generic %}

<div class="d-none d-md-block col-sm-2">
    <div class="row">
        <div class="col-12 accordion" id="months-list">
            {% for year, months in months_list|sort %}
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title btn btn-link">
                        <a data-toggle="collapse" data-target="#collapse{{forloop.counter0}}">
                            {{ year }}
                        </a>
                    </h3>
                </div>
                <div id="collapse{{forloop.counter0}}" class="panel-collapse show" data-parent="#months-list">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            {% for ar_month in months %}
                            <li class="{% if month and year == month.year and ar_month == month.month %}current{% endif %}">
                                <a href="{% url 'hk_archives_with_month' year=year mlist_fqdn=mlist.name month=ar_month %}"
                                >{{ ar_month|monthtodate:year|date:"F" }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'hyperkitty/fragments/thread_left_nav.html' with pagename=pagename %}
</div>
